.button {
    min-width: 120px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    background-color: rgb(58, 148, 58);
}

.error {
    background-color: rgb(212, 55, 55);
}

.buttonText {
    margin: 0px 10px;
    color: white;
}