@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*input[type=text],
input[type=number],
input[type=file],
input[type=password],*/
input,
textarea {
    @apply border border-gray-300 rounded-md px-3 py-1 w-full text-gray-900 font-light;
    @apply focus:outline-none focus:ring-teal-500 focus:border-teal-500;
}

textarea {
    @apply h-36 resize-y;
}

label {
    @apply font-medium ;
}

.form {
    @apply mt-4 p-6 flex flex-col;
}

.formActions {
    @apply mt-6 flex justify-between items-center;
}

.formElementWrapper {
    @apply flex items-center mt-5 mb-1 first:mt-0;
}